<div class="row">
 <div class="col-sm-12">
  <button ng-if="gr.canTrainAny()" ng-click="gr.trainingActive = !gr.trainingActive" class="btn btn-primary">Train workers</button>
  <div uib-collapse="!gr.trainingActive" class="margin-top-two">
   <div class="col-sm-12 well well-lg">
    <div ng-repeat="worker in gr.kitchenWorkerData" ng-if="gr.canTrain(worker.requires)" class="row worker-data" ng-switch="gr.canAfford(worker)">
     <div class="col-md-5">{{worker.title}}</div>
     <div class="col-md-4">Owned {{gr.restaurantWorkers.kitchen[worker.title]}}</div>
     <div class="col-md-3">
      <span class="resource res-small"><i class="res fa fa-money"></i> {{worker.costs.megabucks}}</span>
      <span class="resource res-small"><i class="res res-burgers"></i> {{worker.costs.burgers}}</span>
      <span class="resource res-small"><i class="res res-fries"></i> {{worker.costs.fries}}</span>
      <span class="resource res-small"><i class="res res-drinks"></i> {{worker.costs.drinks}}</span>
      <span class="resource res-small"><i class="res fa fa-users"></i> {{worker.costs.loyals}}</span>
      <span ng-switch-when="true" class="btn btn-xs btn-primary" ng-click="gr.hireWorker(worker)">Hire</span>
      <span ng-switch-when="false">Can't afford</span>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="col-sm-12 building-list">
  <div class="building row" ng-repeat="building in gr.buildings" ng-if="gr.meetsRequirements(building)">
   <div class="col-sm-7">
    <span class="building-detail-collapse" ng-click="building.details.active = !building.details.active"><i class="fa fa-chevron-down"></i></span>
    <span class="building-title">{{building.title}}</span>
    <span class="building-level">{{building.level}}</span>
   </div>
   <div ng-if="gr.upgradeable(building)" ng-switch="gr.canAfford(building)" class="col-sm-5 text-right">
    <span class="resource res-small"><i class="res fa fa-money"></i> {{building.costs.megabucks}}</span>
    <span class="resource res-small"><i class="res res-burgers"></i> {{building.costs.burgers}}</span>
    <span class="resource res-small"><i class="res res-fries"></i> {{building.costs.fries}}</span>
    <span class="resource res-small"><i class="res res-drinks"></i> {{building.costs.drinks}}</span>
    <span class="resource res-small"><i class="res fa fa-users"></i> {{building.costs.loyals}}</span>
    <span ng-switch-when="true" class="btn btn-xs building-upgrade btn-primary" ng-click="gr.upgrade(building)">Upgrade</span>
    <span ng-switch-when="false">Can't afford</span>
   </div>
   <div uib-collapse="!building.details.active" class="col-sm-12 margin-top-two">
    <div class="well well-lg">{{gr.details[building.title]}}</div>
   </div>
  </div>
 </div>
</div>

