.building-list {
  .building {
    padding: 10px 0;
    margin: 5px 0;
    background-color: #eee;
  }
}

.margin-top-two {
  margin-top: 2vh;
}

input.inline-range {
  display: inline-block;
  width: auto;
  margin: 0 1vh;
}

.inline-flex {
  display: inline-flex;
}