.building-list {
  .building {
    padding: 10px 0;
    margin: 5px 0;
    background-color: #eee;
  }
}

.margin-top-half {
  margin-top: .5vh;
}
.margin-top-two {
  margin-top: 2vh;
}
.margin-bottom-two {
  margin-bottom: 2vh;
}
.error-message-inline {
  color: $error-color;
  display: inline-block;
  margin: 0 2vh;
}

.worker, .building {
  display: flex;
  align-items: center;
  .resource-column {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

input.inline-range {
  display: inline-block;
  width: auto;
  margin: 0 1vh;
}

.inline-flex {
  display: inline-flex;
}

.recruit-input {
  max-width: 60px;
}