<div class="row">
  <div class="col-sm-12">
    <button ng-if="gr.canTrainAny()" ng-click="gr.trainingActive = !gr.trainingActive" class="btn btn-primary">Train workers</button>
    <div ng-if="gr.canControlMoney()" class="pull-right inline-flex">
      <input class="inline-range" type="range" id="soldPercent" min="0" max="100" value="{{gr.prodSold}}" ng-model="gr.prodSold" ng-change="gr.prodSoldChange(gr.prodSold)">
      <span> {{gr.prodSold}}% of your produced food is sold</span>
    </div>
    <div uib-collapse="!gr.trainingActive" class="margin-top-two">
      <form class="form" name="form" ng-submit="gr.hireAttempt(form)" novalidate>
        <div class="col-sm-12 well well-lg">
          <h5>Kitchen workers</h5>
          <div ng-repeat="worker in gr.kitchenWorkerData" ng-if="gr.canTrain(worker.requires)" class="row worker-data" ng-switch="gr.canAfford(worker)">
            <div class="col-md-4">{{worker.title}}</div>
            <div class="col-md-3">Owned {{gr.restaurantWorkers.kitchen[worker.title]}}</div>
            <div class="col-md-5">
              <span class="time">{{timeLeft(worker.buildTime)}}</span>
              <span class="resource res-small"><i class="res fa fa-money"></i> {{worker.costs.megabucks}}</span>
              <span class="resource res-small"><i class="res res-burgers"></i> {{worker.costs.burgers}}</span>
              <span class="resource res-small"><i class="res res-fries"></i> {{worker.costs.fries}}</span>
              <span class="resource res-small"><i class="res res-drinks"></i> {{worker.costs.drinks}}</span>
              <span class="resource res-small"><i class="res fa fa-users"></i> {{worker.costs.loyals}}</span>
              <!-- <span ng-switch-when="true" class="btn btn-xs btn-primary" ng-click="gr.hireWorker(worker)">Hire</span> -->

            <input class="recruit-input" type="number" name="{{worker.title}}" min="0" ng-model="gr.recruit[worker.title]">
              <!-- <span ng-switch-when="false">Can't afford</span> -->
            </div>
          </div>

          <h5>Outside workers</h5>
          <div ng-repeat="worker in gr.outsideWorkerData" ng-if="gr.canTrain(worker.requires)" class="row worker-data" ng-switch="gr.canAfford(worker)">
            <div class="col-md-4">{{worker.title}}</div>
            <div class="col-md-3">Owned {{gr.restaurantWorkers.outside[worker.title]}}</div>
            <div class="col-md-5">
              <span class="time">{{timeLeft(worker.buildTime)}}</span>
              <span class="resource res-small"><i class="res fa fa-money"></i> {{worker.costs.megabucks}}</span>
              <span class="resource res-small"><i class="res res-burgers"></i> {{worker.costs.burgers}}</span>
              <span class="resource res-small"><i class="res res-fries"></i> {{worker.costs.fries}}</span>
              <span class="resource res-small"><i class="res res-drinks"></i> {{worker.costs.drinks}}</span>
              <span class="resource res-small"><i class="res fa fa-users"></i> {{worker.costs.loyals}}</span>
              <!-- <span ng-switch-when="true" class="btn btn-xs btn-primary" ng-click="gr.hireWorker(worker)">Hire</span> -->
              <!-- <span ng-switch-when="false">Can't afford</span> -->
              <input class="recruit-input" type="number" name="{{worker.title}}" min="0" ng-model="gr.recruit[worker.title]">
            </div>
          </div>
          <div class="text-danger margin-bottom-two" ng-show="gr.recruitErrorMessage.length">{{gr.recruitErrorMessage}}</div>
          <button type="submit" class="btn btn-primary">Recruit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-12 margin-top-two">
    <div ng-show="gr.events.building.length">
      <h4>Building queue</h4>
      <div ng-repeat="item in gr.events.building" class="row">
        <div class="col-sm-4">{{item.target}}</div>
        <div class="col-sm-4">{{item.ends}}</div>
        <div class="col-sm-3">{{timeLeft(item.left)}}</div>
        <!-- <div class="col-sm-1">x</div> -->
      </div>
    </div>
    <div ng-show="gr.events.unit.length">
      <h4>Unit queue</h4>
      <div ng-repeat="item in gr.events.unit" class="row">
        <div class="col-sm-3">{{item.target}} (x{{item.amount}})</div>
        <!-- <div class="col-sm-3">{{item.produced}}/</div> -->
        <div class="col-sm-3">{{item.ends}}</div>
        <div class="col-sm-3">{{timeLeft(item.left)}}</div>
        <!-- <div class="col-sm-1">x</div> -->
      </div>
    </div>
  </div>
  <div class="col-sm-12 building-list">
    <div class="building row" ng-repeat="building in gr.buildings" ng-if="gr.meetsRequirements(building)">
      <div class="col-sm-7">
        <span class="building-detail-collapse" ng-click="building.details.active = !building.details.active"><i class="fa fa-chevron-down"></i></span>
        <span class="building-title">{{building.title}}</span>
        <span class="building-level">{{building.level}}</span>
        <span ng-show="building.queued">(+{{building.queued}})</span>
      </div>
      <div ng-if="gr.upgradeable(building)" ng-switch="gr.canAfford(building)" class="col-sm-5 text-right">
        <span class="time">{{timeLeft(building.buildTime)}}</span>
        <span class="resource res-small"><i class="res fa fa-money"></i> {{building.costs.megabucks}}</span>
        <span class="resource res-small"><i class="res res-burgers"></i> {{building.costs.burgers}}</span>
        <span class="resource res-small"><i class="res res-fries"></i> {{building.costs.fries}}</span>
        <span class="resource res-small"><i class="res res-drinks"></i> {{building.costs.drinks}}</span>
        <span class="resource res-small"><i class="res fa fa-users"></i> {{building.costs.loyals}}</span>
        <span ng-switch-when="true" class="btn btn-xs building-upgrade btn-primary" ng-click="gr.upgrade(building)">Upgrade</span>
        <span ng-switch-when="false">Can't afford</span>
      </div>
      <div uib-collapse="!building.details.active" class="col-sm-12 margin-top-two">
        <div class="well well-lg">{{gr.buildingDetails[building.title]}}</div>
      </div>
    </div>
  </div>
</div>

