<!-- <div class="top-part clearfix row">
  <div class="col-sm-6 nav">
    <div><a ui-sref="game.restaurant" ui-sref-active="active">restaurant</a></div>
    <div><a ui-sref="game.map" ui-sref-active="active">map</a></div>
  </div>
  <div class="col-sm-6 row">
    <div class="col-sm-2">Resources:</div>
    <div class="col-sm-2">M {{gr.activeRest.resources.megabucks}}</div>
    <div class="col-sm-2">B {{gr.activeRest.resources.burgers}}</div>
    <div class="col-sm-2">F {{gr.activeRest.resources.fries}}</div>
    <div class="col-sm-2">D {{gr.activeRest.resources.drinks}}</div>
    <div class="col-sm-2">L {{gr .activeRest.resources.loyals}}</div>
  </div>
</div> -->

<div class="building-list">
  <div class="building row" ng-repeat="building in gv.activeRest.buildings">
    <div class="col-sm-10">
      <span class="building-title">{{building.title}}</span>
      <span class="building-level">{{building.level}}</span>
    </div>
    <div ng-switch="gr.canAfford(building)" class="col-sm-2 text-right">
    	{{building.costs.megabucks}}
    	{{building.costs.loyals}}
    	{{building.costs.burgers}}
    	{{building.costs.fries}}
    	{{building.costs.drinks}}
      <span ng-switch-when="true" class="btn btn-xs building-upgrade btn-primary" ng-click="gr.upgrade(building)">Upgrade</span>
      <span ng-switch-when="false">Can't afford</span>
    </div>
  </div>
</div>
