.top-part {
  margin-bottom: 20px;
  & > .nav > div {
    float: left;
    margin: 5px;
    a {
      padding: 10px 20px;
      background-color: #ccc;
      text-transform: uppercase;
      font-size: 120%;
      font-weight: 700;
      color: white;
      text-decoration: none;
      &.active {
        background-color: #eee;
        color: #111;
      }
      &:not(.active):hover {
        background-color: #bbb;
      }
    }
  }
}

.resource {
  line-height: 28px;
  display: inline-block;
  text-align: center;
  .res {
    min-height: 28px;
    min-width: 28px;
    font-size: 28px;
    line-height: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    &.res-burgers {
      background-image: url(/assets/images/cheeseburger.svg);
    }
    &.res-fries {
      background-image: url(/assets/images/fries.svg);
    }
    &.res-drinks {
      background-image: url(/assets/images/soda.svg);
    }
  }
  &.res-small {
    line-height: 20px;
    .res {
      min-height: 20px;
      min-width: 20px;
      font-size: 20px;
      line-height: 20px;
    }
    margin-right: 5px;
  }
}